<h2>大家好,我是焦杨。</h2>
<p><img src="https://dl.dropboxusercontent.com/u/136638/0124788.jpg" height="105" width="75" alt="焦杨" title=""  class="img-rounded floatLeft" />			
一个生长于昆明，在北京读书进而混迹在北京IT界的码农。</p>
<p>兴趣广泛，爱足球（国际米兰）,爱钓鱼。</p>					
<p>mailto: glorysun@gmail.com</p>					
<p><wb:follow-button uid="1822706077" type="red_1" width="67" height="24" ></wb:follow-button> </p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://www.linkedin.com/pub/yang-joseph-jiao/46/206/670" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://github.com/josephjiao/Feedback/issues/new" rel="me" class="social mail" title="给我留言"  target="_blank"></a></li>				
	</ul>
</p>
